build/
.vscode/
resources/
CMakeFiles/
Testing/
cmake_install.cmake
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
smpHttp_*
core*
log*
fileAppender.txt*
src/http_parser/*.a
src/libuv_cpp_wrapper/*.a
src/modules/mysql-connector-cpp/libmysqlcppconn8-static.a
nohup*
smpHttp
src/nlohmann_json/**